@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.home-section {
  h1 {
    color: $primary;
  }

  body {
    text-align: center;
    margin: auto;
  }
  @media (min-width: 992px) { 
    .devDependencies {
      margin-left: 3rem;
    }
  }
  @media (max-width: 768px) {
    .devDependencies {
      margin-top: 3rem;
    }
  }
}